.site-name
  font-weight 700 !important
  font-size 1.4rem !important
  color: saturation($accentColor, 30%) !important

.nav-item a
  font-weight 600
  font-size 1rem

.content code
  font-family "Operator Mono", source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace
  font-weight: 500
